* {
    margin: map-get($margin, 'normal');
    padding: map-get($padding, 'normal');
      box-sizing: border-box;
      font-family: "Andika", sans-serif;
  }
  
  body{
    @include bgPrimaryColor();
  }
  
  
  
  
  
  .path-0 {
      animation: pathAnim-0 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    @keyframes pathAnim-0 {
      0% {
        d: path("M 0,600 L 0,150 C 96.05741626794256,178.86124401913878 192.1148325358851,207.72248803827753 298,188 C 403.8851674641149,168.27751196172247 519.5980861244019,99.9712918660287 611,97 C 702.4019138755981,94.0287081339713 769.4928229665071,156.39234449760767 844,188 C 918.5071770334929,219.60765550239233 1000.4306220095696,220.45933014354065 1101,209 C 1201.5693779904304,197.54066985645935 1320.7846889952152,173.77033492822966 1440,150 L 1440,600 L 0,600 Z");
      }
      25% {
        d: path("M 0,600 L 0,150 C 114.59330143540669,167.27272727272725 229.18660287081337,184.54545454545453 320,166 C 410.8133971291866,147.45454545454547 477.8468899521532,93.09090909090908 576,81 C 674.1531100478468,68.90909090909092 803.425837320574,99.0909090909091 905,131 C 1006.574162679426,162.9090909090909 1080.4497607655503,196.54545454545456 1165,200 C 1249.5502392344497,203.45454545454544 1344.7751196172248,176.72727272727272 1440,150 L 1440,600 L 0,600 Z");
      }
      50% {
        d: path("M 0,600 L 0,150 C 90.66985645933013,194.01913875598086 181.33971291866027,238.03827751196172 276,218 C 370.66028708133973,197.96172248803828 469.3110047846891,113.86602870813397 567,91 C 664.6889952153109,68.13397129186603 761.4162679425838,106.49760765550239 858,117 C 954.5837320574162,127.50239234449761 1051.023923444976,110.14354066985646 1148,111 C 1244.976076555024,111.85645933014354 1342.488038277512,130.92822966507177 1440,150 L 1440,600 L 0,600 Z");
      }
      75% {
        d: path("M 0,600 L 0,150 C 81.04306220095694,106.28708133971293 162.08612440191388,62.57416267942584 255,78 C 347.9138755980861,93.42583732057416 452.6985645933015,167.99043062200957 551,186 C 649.3014354066985,204.00956937799043 741.1196172248804,165.4641148325359 841,162 C 940.8803827751196,158.5358851674641 1048.8229665071772,190.1531100478469 1150,194 C 1251.1770334928228,197.8468899521531 1345.5885167464114,173.92344497607655 1440,150 L 1440,600 L 0,600 Z");
      }
      100% {
        d: path("M 0,600 L 0,150 C 96.05741626794256,178.86124401913878 192.1148325358851,207.72248803827753 298,188 C 403.8851674641149,168.27751196172247 519.5980861244019,99.9712918660287 611,97 C 702.4019138755981,94.0287081339713 769.4928229665071,156.39234449760767 844,188 C 918.5071770334929,219.60765550239233 1000.4306220095696,220.45933014354065 1101,209 C 1201.5693779904304,197.54066985645935 1320.7846889952152,173.77033492822966 1440,150 L 1440,600 L 0,600 Z");
      }
    }
    .path-1 {
      animation: pathAnim-1 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    @keyframes pathAnim-1 {
      0% {
        d: path("M 0,600 L 0,350 C 102.72727272727272,333.511961722488 205.45454545454544,317.02392344497605 315,332 C 424.54545454545456,346.97607655502395 540.9090909090909,393.4162679425837 627,397 C 713.0909090909091,400.5837320574163 768.9090909090909,361.31100478468903 851,366 C 933.0909090909091,370.68899521531097 1041.4545454545455,419.33971291866027 1144,424 C 1246.5454545454545,428.66028708133973 1343.2727272727273,389.33014354066984 1440,350 L 1440,600 L 0,600 Z");
      }
      25% {
        d: path("M 0,600 L 0,350 C 124.25837320574166,363.4162679425838 248.51674641148333,376.8325358851675 337,356 C 425.4832535885167,335.1674641148325 478.1913875598085,280.08612440191393 548,276 C 617.8086124401915,271.91387559808607 704.7177033492824,318.822966507177 817,339 C 929.2822966507176,359.177033492823 1066.9377990430621,352.622009569378 1175,350 C 1283.0622009569379,347.377990430622 1361.531100478469,348.688995215311 1440,350 L 1440,600 L 0,600 Z");
      }
      50% {
        d: path("M 0,600 L 0,350 C 121.90430622009566,326.2870813397129 243.80861244019133,302.5741626794258 331,312 C 418.1913875598087,321.4258373205742 470.66985645933016,363.99043062200957 556,358 C 641.3301435406698,352.00956937799043 759.511961722488,297.46411483253587 864,306 C 968.488038277512,314.53588516746413 1059.2822966507179,386.15311004784695 1153,404 C 1246.7177033492821,421.84688995215305 1343.358851674641,385.92344497607655 1440,350 L 1440,600 L 0,600 Z");
      }
      75% {
        d: path("M 0,600 L 0,350 C 117.91387559808612,326.3444976076555 235.82775119617224,302.688995215311 339,297 C 442.17224880382776,291.311004784689 530.6028708133972,303.58851674641147 614,306 C 697.3971291866028,308.41148325358853 775.7607655502394,300.95693779904303 853,307 C 930.2392344497606,313.04306220095697 1006.3540669856459,332.5837320574163 1104,342 C 1201.6459330143541,351.4162679425837 1320.8229665071772,350.7081339712919 1440,350 L 1440,600 L 0,600 Z");
      }
      100% {
        d: path("M 0,600 L 0,350 C 102.72727272727272,333.511961722488 205.45454545454544,317.02392344497605 315,332 C 424.54545454545456,346.97607655502395 540.9090909090909,393.4162679425837 627,397 C 713.0909090909091,400.5837320574163 768.9090909090909,361.31100478468903 851,366 C 933.0909090909091,370.68899521531097 1041.4545454545455,419.33971291866027 1144,424 C 1246.5454545454545,428.66028708133973 1343.2727272727273,389.33014354066984 1440,350 L 1440,600 L 0,600 Z");
      }
    }
    .no-scroll {
      overflow: hidden;
    }
  
  
  
    .laoding-page{
      @include FlexCenter();
      @include vh();
      background-color: #161931;
      position: fixed;
      z-index: 11;
      flex-direction: column;
      right: 0;
      top: 0;
      transition: 0.6s ease;
    }
  
    .load-bar{
  
      width: 0;
      height: 10px;
      position: relative;
      top: 0;
      background-color: #161931;
      &::before{
        width: 0;
      height: 10px;
      content: '';
      position: absolute;
      animation: load 10s linear;
      background-color: #FFA600 ;
      }
    }
  
    @keyframes load {
      0%{
        width: 0;
      }10%,20%,30%{
        width: 50%;
      }100%{
        width: 100%;
      }
    }
  
    .name-loading{
      font-size: 3rem;
      color: map-get($colors, 'text-color-primary');
      font-weight: map-get($fontWeight, 'xl');
  
      span{
        @include headColor();
        font-size: 3rem;
      }
    }
  
    .dot-list{
      @include FlexCenter();
      gap: 1rem;
      
      span{
        background-color: #FFA600;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        animation: scale 5s linear infinite;
  
        &:nth-child(1){
          animation-delay:  0.5s;
        }
        &:nth-child(2){
          animation-delay:  0.8s;
        }
        &:nth-child(3){
          animation-delay:  1s;
        }
  
        &:nth-child(4){
          animation-delay:  1.2s;
        }
        
      }
    }
  
    @keyframes scale {
      0%{
        scale: 1;
        transform: translateY(0px);
      }10%{
        scale: 1.4;
        transform: translateY(-10px);
      }40%{
        scale: 1;
        transform: translateY(0px);
      }70%{
        scale: 1.4;
        transform: translateY(-10px);
      }100%{
        scale: 1;
        transform: translateY(0px);
      }
      
    }
  
  .hero{
    @include FlexCenter();
    @include percent();
  
    #svg{
      @include svg();
    }
  
    .banner-hero{
      @include flexMix (100%,100%,flex, center, column, none);
      
    }
  
    
    .hero-main{
      @include flexMix(100%, 100%,flex, center, column, none);
  
      .content-hero{
      @include flexMix(100%, 100%,flex, center, column, none);
      margin-top: 15rem;
  
  
      .head-hero{
      @include headColor();
      font-size: clamp(2.5rem, 1.1111rem + 4.4444vw, 5rem);
      font-weight: map-get($fontWeight, 'xxxl');    
      @extend %heroCenter;
    }
  
    .info-hero{
      @include infoColor();
      font-size: clamp(0.8rem, 0.425rem + 1.2vw, 1.1rem);
      @extend %heroCenter;
      padding: 0 0.7rem
    }
  
    .button-hero{
      @extend %buttton;
      @include FlexCenter
    }
    }
    }
  
    
  
    
  }
  
  @include md{
    .hero{
        .hero-main{
            .content-hero{
                margin-top: 10rem;
            }
        }
    }
  }
  
  
  
  
  
  
    
  